

.content {
    margin: 20px 10%;
    height: 500px;
    padding: 0 10%;
    font-family: Calibri;
}

h1 {
    width: 100%;
    font-size: 48px;
    color: rgb(0, 186, 211);
}

.myShopButton {
    border-bottom: 2px solid rgb(0, 186, 211);
    margin: 32px 0 0;
    display: inline;
}

.header {
    margin: 0;
    border-bottom: 2px solid rgb(0, 186, 211);
}

.more {
    float: right;
}

.moreButton {
    margin: 0 0 20px 0;
}

a {
    text-decoration: none;
}


h2 {
    font-size: 40px;
}


a.button {
    text-transform: uppercase;
    padding: 8px;
    background-color: red;
    border-radius: 8px;
    color: white;
    border: none;
}

.links {
    justify-content: space-between;
    display: flex;
    margin: 20px 0 0 0;
}


p {
    color: orange;
    margin: 0;
}


input[type=text] {
    width: 86%;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 3px;
    padding: 8px;
}

input[type=text].filterBar {
    width: 70%;
}

.searchbar {
    text-align: center;
}

input[type=submit] {
    padding: 9px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#subtitel {
    text-align: left;
    margin: 20px 0 0 0;
}

#priceSubtitel {
    margin: 16px 0 0 27%;
}

table {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

table, th, td {
    border-collapse: collapse;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

td {
    font-size: 18px;
}

td.firstColumn {
    font-size: 20px;
}

td.text, td.texttwo {
    text-align: left;
}

td.texttwo {
    font-size: 14px;
}

th {
    background-color: #69effe;
}

th, td {
    padding: 10px 5px;
}