<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My ToDo's</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" href="/styles.css" />-->
</head>
<body>
  <h1>Edit Todo</h1>
  <form method="post" th:action="'http://localhost:8080/todo/' + ${id} + '/edit'" th:object="${todo}">
    <label for="edit">Todo Description</label>
    <input type="text" id="edit" name="editedText" th:field="*{title}">
    <br>
    <label for="urgent">Urgent</label>
    <input type="checkbox" id="urgent" name="urgent" th:field="*{urgent}">
    <br>
    <label for="done">Done</label>
    <input type="checkbox" id="done" name="done" th:field="*{done}">
    <br>
      <select id="assignee" name="assignee">
        <option th:each="assignee : ${assignees}" th:text="${assignee.getName()}" th:value="${assignee.getName()}"></option>
      </select>
    <br>
    <input type="submit" value="Submit">
    <a href="http://localhost:8080/todo/list">Cancel</a>
  </form>
</body>
</html>