<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form method="POST" action="http://localhost:8080/useful/email">
  <input type="text" placeholder="Enter your email" name="email">
  <button type="submit" name="button">Check</button>
  </form>
  <p th:if="${valid}" th:attr="style='color:green'" th:text="|${email} is a valid email address|"></p>
  <p th:if="${valid == false && email != null}" th:attr="style='color:red'" th:text="|${email} is not a valid email address|"></p>
</body>
</html>