<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" href="/styles.css" />-->
</head>
<body>
<ul>
  <li><a th:href="'/?name=' + ${name}">Information</a></li>
  <li><a th:href="'/nutritionStore?name=' + ${name}">Nutrition Store</a></li>
  <li><a th:href="'/trickCenter?name=' + ${name}">Trick Center</a></li>
  <li><a th:href="'/actionHistory?name=' + ${name}">Action History</a></li>
</ul>

  <ul>
    <li th:each="action : ${actions}" th:text="${action}"></li>
  </ul>
</body>
</html>