<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" href="/styles.css" />-->
</head>
<body>
  <h1>Welcome to Programmer Fox Club!</h1>
  <p>Please provide a name, so you can associate it to  your pet!</p>
  <form method="post" action="/login">
    <label for="fox">Name</label>
    <input type="text" name="name" id="fox">
    <input type="submit" value="GO">
  </form>
</body>
</html>