<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" href="/styles.css" />-->
</head>
<body>
  <ul>
    <li><a th:href="'/?name=' + ${fox.getName()}">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + ${fox.getName()}">Nutrition Store</a></li>
    <li><a href="#">Trick Center</a></li>
    <li><a th:href="'/actionHistory?name=' + ${fox.getName()}">Action History</a></li>
  </ul>
  <div th:if="${availableTricks.size() != 0}">
  <form method="post" th:action="'/trickCenter?name=' + ${fox.getName()}">
    <label for="tricks">Available Tricks</label>
    <select id="tricks" name="learnedTrick">
      <option th:each="trick : ${availableTricks}" th:text="${trick}" th:value="${trick}">
      </option>
    </select>
    <input type="submit" value="Learn"/>
  </form>
  </div>
  <p th:if="${availableTricks.size() == 0}">There is no available trick to learn.</p>
  <p th:if="${fox.getTricks().size() != 0}" th:text="${fox.getName()} + ' successfully learned last time the ' +
${fox.getTricks().get(fox.getTricks().size() - 1)} + ' trick.'"></p>

</body>
</html>