<h1>Login to your Todos</h1>
<form action="/login" method="post">
    <div>
        <label for="username">Username</label>
    </div>
    <input type="text" name="username" />
    <button type="submit" class="btn btn-primary btn-sm">Login</button>
</form>