*{
    box-sizing: border-box;
}
body {
    background-color: rgb(235,235,235);
    font-family: Gadugi;
}

.content {
    background-color: white;
    border-radius: 3px;
    width: 290px;
    margin: 40px auto;
    padding: 20px 40px 20px 40px ;
}

h2 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
}

.form-row {
    padding: 5px 0;
}

.form-row input[type='text'], input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 6px;
    font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid green;
}

input[type=text]:focus:invalid, input[type=password]:focus:invalid{
    border: 1px solid red;
}

label {
    font-size: 10px;
    /*padding: 10px 0;*/
}

p {
    font-size: 10px;
    margin: 0 0 0 0;
    color: rgb(128,128,128);
    text-align: right;
}

input[type='password']{
    background: url(eye.png) no-repeat;
    background-position: 180px 8px;


}

input[type='submit']{
    background-color: rgb(51,51,51);
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 30px auto;
    border: 0;
}